@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;1,700&display=swap');


.unauthenticated{
  display:flex;
  flex-direction: column;
  position: relative;
  font-family: 'Stencil Std', fantasy;
  text-align: left;
  background-color: #fcf5f5;
  width: 300px;
  height: 10x;
  border: 10px inset rgb(250, 6, 140);
  border-radius: 1-px;
  box-shadow:#ff42aa   3px 3px 20px 3px ; 

}

.authenticated{
  display: flex;
  
  margin-top: -25px;
  flex-direction: column;
  border: outset 8px rgb(69, 71, 68);
  font-family: 'Stencil Std', fantasy;
  text-align: center;
  background-color: #fcf5f5;


}
.head1{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 110px;
  width:200px;
  font-family: 'Stencil Std', fantasy;
  color: #f7cbf4 ;
  text-align: center; 
  text-shadow: -2px -2px 0 rgb(0, 0, 0), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border: 8px outset rgba(89, 91, 94, 0.966);
  box-shadow: 0px 4px 5px 5px #f10554;
background : #4b23fd;

}
.head2{
  font-family: 'Stencil Std', fantasy;
  text-align: center;
  margin-top: 2px;
  text-shadow: -1px -1px rgb(245, 8, 194), 1px -1px 0 rgb(255, 3, 242), -1px -1px 0 rgb(255, 0, 106), 1px 1px 0 #000;
  border: 7px inset rgba(95, 194, 221, 0.966);
  box-shadow: 3px 3px 27px 7px #d9f72f;
background : #eeff57;
}

#signUpBtn{
  margin-bottom: 20px;
  background-color: #ff0080;
  box-shadow: 2px 2px 2px 2px ;
  font-family: 'Stencil Std', fantasy;
}
#signInBtn{
  background-color : #ff0080;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 2px ;
  font-family: 'Stencil Std', fantasy;

}

.card{
  padding:15px 30px 15px 30px;
  max-width:500px;
  max-height:300px;
  text-align: center;
  border-top: #ebf5d4 5px;
  margin-top: 20px;
  font-family: 'Stencil Std', fantasy;
  box-shadow: 10 10 10 8px #090a02;
  border-style: 3px inset rgba(13, 32, 39, 0.988) ;
  background-color: rgb(211, 3, 155);
  background-repeat: no-repeat, repeat;
  background-image: url("https://www.colourbox.com/preview/18145055-happy-face-background.jpg"), url("https://www.colourbox.com/preview/18145055-happy-face-background.jpg");
  background-blend-mode: lighten;
  } 
button:focus {outline: none;}

#message{
  text-align: center;
  border: 3px ridge;
  font-family: 'Stencil Std', fantasy;
background-color: rgb(251, 255, 0);
border-radius: 5px;
}

body {
  
background-color: #fcf5f5;
display : flex ;
flex-direction : column ;
justify-content: center; 
align-items: center ;

} 
.content{
    max-width: 600px;
    padding:20px;
    margin:auto;
    justify-content: center;
    align-items: center;}
h2 {
    background-color: hsl(340, 100%, 74%);
    border: 4px outset #f3ff88;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    box-shadow: 2px 4px 10px 2px #374bfc;
}

#randomBtn{
    height:50px;
    width:150px;
    font-size: 18px;
    background-color: #f3f73b;
    box-shadow: 2px 2px 2px 2px ;
    padding:5px;
    border-radius: 5px;
    font-family: 'Stencil Std', fantasy;
}
#deleteBtn{
  background-color: #f3f73b;
  box-shadow: 2px 2px 2px 2px ;
  padding:5px;
  border-radius: 5px;
  font-family: 'Stencil Std', fantasy;
}

#updateBtn{
  background-color: #f3f73b;
  box-shadow: 2px 2px 2px 2px ;
  padding:5px;
  border-radius: 5px;
  font-family: 'Stencil Std', fantasy;
}

#getBtn {
  background-color: #f3f73b;
  box-shadow: 2px 2px 2px 2px ;
  padding:5px;
  border-radius: 5px;
  font-family: 'Stencil Std', fantasy;
}
#submitBtn{
  background-color: #f3f73b;
  box-shadow: 2px 2px 2px 2px ;
  padding:5px;
  border-radius: 5px;
  font-family: 'Stencil Std', fantasy;
}




p{
  display: flex;
  font-family:  'Permanent Marker', cursive;
  font-size: 10px;
}


 #kudoRead {
  display: flex;
  position: center;
  margin-top: 3px;
  height: 40px;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  border: 4px inset hsl(340, 100%, 74%);
  justify-content: center;
  padding-top: 10px ;
  align-items: center;
}
