@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;1,700&display=swap');


section {
    text-align: center;
    background-color:  rgb(255, 255, 255)
}

.unauthenticated{
  border: ridge #09070759 20px ;
font-family: 'Stencil Std', fantasy;
  text-align: center;
background-color: rgb(255, 104, 227);
border-radius: 5px;
box-shadow: 8px 8px 8px 8px #fff23c;

}

.authenticated{
  border: ridge rgb(242, 238, 0) 10px;
  font-family: 'Stencil Std', fantasy;
  text-align: center;
background-color: rgb(7, 2, 2);
border-radius: 5px;
box-shadow: 8px 8px 8px 8px #06ccf8;
}

.head1{
  display: flex;
  flex-direction: column;
  height: 110px;
  width:200px;
  font-family: 'Stencil Std', fantasy;
  text-align: center; 
  border : 10px ridge #2b2020;
  box-shadow: 8px 8px 8px 8px #f10957;
background : #370aff;

}
.head2{
  font-family: 'Stencil Std', fantasy;
  text-align: center;
  border : 10px ridge #2b2020;
  box-shadow: 4px 4px 4px 4px #02ff02;
background : #5faff5;
}

.game-title {
  box-shadow: 10 10 10 8px #090a02;
  border-radius : 5px;
  border-style: 10px ridge ;
background-color: rgb(211, 20, 160);
}

#message{
  text-align: center;
  border: 3px ridge;
  font-family: 'Stencil Std', fantasy;
background-color: rgb(237, 238, 174);
border-radius: 5px;
}

body {
background-color: #080707;
display : flex ;
flex-direction : column ;
justify-content: center; 
align-items: center ;

} 
// .numBoard {
// display: flex;
// justify-content: column;
// align-items: center;


// }


.content{
    max-width: 600px;
    padding:20px;
    margin:auto;
    justify-content: center;
    align-items: center;}
h2 {
    background-color: #0011ff;
    color:#222223;
    padding:10px;
    font-family: 'Stencil Std', fantasy;
    text-align: center;
    // border-radius:5px;
    box-shadow: 4px 4px 4px 4px #ff00e1  ;
}

.btn{
  display : flex;
  justify-content: center;
    height:50px;
    width:150px;
    font-size: 18px;
    font: #eef3fd ;
    background-color: #f3f73b;
    box-shadow: 4px 4px 4px 4px ;
    padding:5px;
    border-radius: 5px;
    font-family: 'Stencil Std', fantasy;
}

.card{
    padding:15px 30px 15px 30px;
    max-width:500px;
    max-height:300px;
    text-align: center;
    background-color: #5300a7;
    border-radius: 10px;
    border-top: #ebf5d4 5px;
    margin-top: 20px;
  font-family: 'Stencil Std', fantasy;
  box-shadow: 4px 4px 4px 4px rgb(225, 233, 181);
    } 
button:focus {outline: none;}

p{
  font-family: 'Stencil Std', fantasy;
  font-size: 20px;
border-radius: 10px;
  border-top: 10px;
}

.quote {
display: flex;
justify-content: column;
align-items: center;

}

